GHCR_OWNER=your-github-username
IMG_TAG=dev

DD_SITE=
DD_API_KEY=
DD_RUM_APP_ID=
DD_RUM_CLIENT_TOKEN=

DT_TENANT_URL=
DT_API_TOKEN=
DT_OPERATOR_TOKEN=
DT_DATA_INGEST_TOKEN=
DT_RUM_SCRIPT_URL=

ELASTIC_APM_ENDPOINT=
ELASTIC_APM_SECRET_TOKEN=
ELASTIC_ES_ENDPOINT=
ELASTIC_API_KEY=
KIBANA_URL=

NUXT_PUBLIC_RUM_PROVIDER=datadog
NUXT_API_PROXY_TARGET=http://api:8080
