GHCR_OWNER=your-github-username
IMG_TAG=dev

DD_SITE=
DD_API_KEY=
DD_RUM_APP_ID=
DD_RUM_CLIENT_TOKEN=
DD_APP_KEY=

DT_TENANT_URL=
DT_API_TOKEN=
DT_OPERATOR_TOKEN=
DT_RUM_SCRIPT_URL=
DT_SETTINGS_TOKEN=
DT_PLATFORM_TOKEN=
DT_ACTOR_UUID=

ELASTIC_APM_SECRET_TOKEN=
ELASTIC_RUM_ENDPOINT=
ELASTIC_APM_ENDPOINT=

NUXT_API_PROXY_TARGET=
