GHCR_OWNER=
IMG_TAG=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
APP_URL=
K6_DURATION=
DEMO_MS=
DEMO_RATE=
DEMO_CPU_MS=
DD_API_KEY=
DD_SITE=
DD_POSTGRES_PASSWORD=
DD_RUM_APPLICATION_ID=
DD_RUM_CLIENT_TOKEN=
